@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.sidebar-open {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
